modLoader = "javafml"
loaderVersion = "[40,)"
license = "MIT"
issueTrackerURL = "https://github.com/MarkusBordihn/BOs-Easy-NPC/issues"

[[mods]]
modId = "easy_npc"
version = "${file.jarVersion}"
displayName = "Easy NPC"
displayURL = "https://www.curseforge.com/minecraft/mc-mods/easy-npc"
logoFile = "logo.png"
credits = ""
authors = "Markus Bordihn"
description = '''Create easily NPCs for your world or for your mods.'''

[[dependencies.easy_npc]]
modId = "forge"
mandatory = true
versionRange = "[40,)"
ordering = "NONE"
side = "BOTH"

[[dependencies.easy_npc]]
modId = "minecraft"
mandatory = true
versionRange = "[1.18.2,1.19)"
ordering = "NONE"
side = "BOTH"

[[dependencies.easy_npc]]
modId = "armourers_workshop"
mandatory = false
versionRange = "[2.0.1,)"
ordering = "NONE"
side = "BOTH"
