# Eclipse
bin
eclipse
.classpath
.metadata
.project
.settings
*.launch

# Idea
out
.idea
*.ipr
*.iws
*.iml

# Gradle
build
run
runs
.gradle
*local.properties

# NodeJs
node_modules
npm-debug.log
.npmrc

# Files from Forge MDK
forge*changelog.txt

# VSCode
.vscode/launch.json

# Template placeholder files
put_your_*_here

# Other
.DS_Store
generated
*.bak
*.clip
*.log
*.patch.txt
*.stackdump
